<div class="login-box">
    <div class="logo">
        <a href="<?php echo $login->base_url; ?>"><?php echo $language->SITE_NAME_HELP; ?><b><?php echo $language->SITE_NAME_RPG; ?></b></a>
        <small><?php echo $language->LOGIN_TITLE; ?></small>
    </div>
    <div class="card">
        <div class="body">
            <form id="sign_in" method="POST" action="login/entrar">
                <?php if (isset($_REQUEST['erro']) and $_GET['erro'] == 'true') {?>
                    <div class="msg-danger"><?php echo $language->LOGIN_MSG_ERROR; ?></div>                    
                <?php } else { ?>
                    <div class="msg"><?php echo $language->LOGIN_MSG_ERROR; ?></div>
                <?php }?>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" class="form-control" name="email" placeholder="<?php echo $language->LOGIN_MAIL; ?>" required autofocus>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="senha" placeholder="<?php echo $language->LOGIN_PASSWORD; ?>" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                        <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-blue">
                        <label for="rememberme"><?php echo $language->LOGIN_REMEMBER_PASSWORD; ?></label>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-primary waves-effect" type="submit"><?php echo $language->LOGIN_BTN_GET_IN; ?></button>
                    </div>
                </div>
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-6">
                        <a href="<?php echo $language->inscreverse_path; ?>"><?php echo $language->LOGIN_SUBSCRIBE; ?></a>
                    </div>
                    <div class="col-xs-6 align-right">
                        <a href="<?php echo $language->esqueceu_senha_path; ?>"><?php echo $language->LOGIN_FORGET_PASSWORD; ?></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>