.utilitarios-link:hover{
	color: red;
}
.icon{
	width: 70px;
	height: 70px;
}

.min-icon{
	width: 30px;
	height: 30px;
	margin: 4px;
}

.icon_maior{
	width: 90px;
	height: 90px;
}

.registros-wrapper{
	text-align: center;
}

.background_white{
	padding: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 40px;
	background-color: rgba(255, 255, 255, 0.10);
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.background_white:hover {
	background-color: rgba(255, 255, 255, 0.20);
}

.color-font-black{
	color: #000000;
}

.tavern_title_main{
	font-size: 40px;
}

.tavern_title{
	padding-top: 10px;
}

.center{
	text-align: center;
}

.legendas{
	border: nome;
}
/*login msg text color*/
#text-login-msg, #text-register-msg, #text-lost-msg{
	color: blue;
}

.checkbox {
	color: blue;
}

#login_register_btn:hover, #login_lost_btn:hover, #register_login_btn:hover, #register_lost_btn:hover{
	color: blue;
}

.radius{
	border-radius: 10px;
}